.main {
    display: flex;
    flex-wrap: wrap;
    gap: 4em;
    font-size: 14px;
}

.main {
    flex-direction: column;
    align-items: center;
}

@media (min-width:1281px) {
    .main {
        flex-direction: row;
    }
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
}