body {
    background-color: rgb(22, 46, 88);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
    margin: 0;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(252, 244, 234);
}

#screen {
    width: calc(160px*5);
    height: calc(144px*5);
    image-rendering: pixelated;
    border: 5px solid rgb(2, 32, 78);
}

h1 {
    text-align: center;
}

td {
    text-align: center;
    padding: 0.5em;
}

#credits {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 20px;
}